<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/responsive.css">
    
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body class="kiwibody">
    <div id="kiwiheader">
    <pre></pre>
    <div class="hamburger-menu" >
        <input id="menu__toggle" type="checkbox" >
        <label class="menu__btn" for="menu__toggle" >
        <span></span>
        </label>
      <ul class="menu__box" >
        <li><a class="5" href="index1.html">Home</a></li>
        <li><a class="menu__item" href="#">Company</a></li>
        <li><a class="menu__item" href="#">Profile</a></li>
        <li><a class="menu__item" href="Tomato all.html">Products</a></li>
        <li><a class="menu__item" href="#">Services</a></li>
        <li><a class="menu__item" href="#">R&D</a></li>
        <li><a class="menu__item" href="contactus.html">Contact</a></li>
      </ul>
    </div>
  <div class=container>
      <div class="row">
      <img id="pc" src="img/Logo.svg">
      <div class=nav>
          <form>
              <div class=searchinput>
                  <input name=search placeholder=Search>
                  <img src="img/search.svg">
              </div>
          </form>
          <nav>
              <a href='index1.html'>Home</a>
              <a href='#'>Company</a>
              <a href='#'>Profile</a>
              <a href='Tomato all.html'>Products</a>
              <a href='#'>Services</a>
              <a href='#'>R&D</a>
              <a href='contactus.html'>Contacts</a> 
          </nav>
      </div>
  </div>
  </div>
    </div>
    <figure>
        <img src="Kiwi/head.jpg" height="300px">
    </figure>


        <div class="tmain">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="toffercont__title">
                            <b>Agridera Fresh Market Kiwi Hybrids</b>
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="toffercont__star">* * * * *</p>
                    </div>
                    <div class="col-12">
                        <p class="toffercont__text">Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of kiwi seeds.<b> We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</b><br>
                            In particular, we breed improved disease-resistant cultivars adapted to different markets globally.</p>  
                        <p class="toffercont__text">Currently, emphasis is placed on combining Kiwi Yellow Leaf Curl Virus (AYLCV) and Kiwi Spotted Wilt Virus (ASWV) resistances with other soil borne diseases into superior Kiwi breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to KGFV virus (Kiwi Green Fruit Virus). </p>
                        <p class="toffercont__text">In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life,<br> and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely<br> round and elongated shapes. </p>
                    </div>
                    </div>
                        <img id="pic" src="img/TA/line.png">
                        <p class="ts">Agirdera Kiwi breeding programs are focusing on three main segments: Greenhouse Indeterminate Kiwis, Open-field Indeterminate Kiwis, and Bush Type Open-field Kiwis.</p>
            </div>
        </div>

        
            <div id="kiwibg" class="container">
                <div class="row">  
                    <div class="col-4">
                        <p class="about">Greenhouse Kiwi Breeding Program</p>
                        <pre style="margin-bottom: 30px;"></pre>
                        <img src="img/TA/line3.png">
                        <p class="atext"><b>This breeding is aimed for the Spanish and Turkish markets.</b> For single and cluster picks, round fruit shape and resistances of AYLCV, ASWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv). </p>
                    </div>
                    <div class="col-4">
                        <p class="about">Open-field Indeterminate<br> Kiwis</p>
                        <img src="img/TA/line3.png">
                        <p class="atext"><b>This breeding is for Brazilian, Moroccan, and Turkish markets.</b> The main focus is on large round shape fruits (200 grams plus); and resistances of AYLCV, ASWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</p>
                    </div>
                    <div class="col-4">
                        <p class="about">Open-field Bush Type <br> Kiwis</p>
                        <img src="img/TA/line3.png">
                        <p class="atext"><b>This breeding is for Mediterranean markets.</b> We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of AYLCV, ASWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container">
        <img src="img/TA/line.png">
        <p class="ts2"><b>Agridera operates through international and local distributers around the world.</b></p>
        </div>
        <div class="vgs">
        <div class="container">
            <div id="app" class="tomatosList col-12">
            <div class="row">
                <div class="tomatoItem col-4" v-if="products" v-for="p in products">
                <div class="col-12">
                    <div class="tomatoImg">
                        <a :href="'kiwi one.html#'+p.id"><img :src="'Kiwi/'+p.image" alt=""></a>
                    </div>
                    <div class="tomatoInfo">
                        <a :href="'Kiwi one.html#'+p.id"><b style="font-size:20px; line-height:28px;">{{p.title}}</b></a><br>
                        {{p.short_text}} 
                    </div>
                </div>    
                </div>
            </div>
        </div>
            <pre></pre>
            <pre></pre>
        </div>
        </div>

        <div class="down">
            <div class="container">
                <div class="row">
                    <div id="Text1" class="col-9" >
                        <span> <a class="link" href="">PROFILE</a>
                            <a class="link" href=""> MANAGEMENT</a>
                             <a class="link" href="">  PRODUCTS</a>
                             <a class="link" href=""> R&D</a>
                            <a class="link" href=""> LINKS</a>
                            <a class="link" href=""> SITEMAP</a> 
                             <a class="link" href=""> CONTACT</a>
                        </span>
                    </div>
                    <div class="dwp" class=" col-3">
                        <span>
                            <img src="img/d1.svg"  >
                            <img src="img/d2.svg" >
                            <img src="img/d3.svg" >
                            <img src="img/d4.svg" >
                            <img src="img/d5.svg" >
                            <pre></pre>
                        </span>
                    </div> 
            </div>  
        </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <p class="col-12"></p>
      
                    <a class="ftr" class="col" href="">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
      </body>
      </html>